---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ModeToggle } from "@/components/ModeToggle";
import "@/styles/globals.css";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bf.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="w-full flex justify-evenly z-10 fixed top-0 left-0 p-3  no-print bg-background">
      <nav class="flex gap-10">
        <ul class="flex gap-10 items-center">
          <li><a href="#">Home</a></li>
          <li><a href="#about">Sobre mi</a></li>
          <li><a href="#experience">Experiencia</a></li>
          <li><a href="#projects">Proyectos</a></li>
        </ul>
        <ModeToggle client:load />
      </nav>
    </header>
    <slot />
    <footer
      class="w-full flex justify-evenly z-10  p-3  no-print bg-background">
      <p>© Copyright {new Date().getFullYear()} {title}</p>
    </footer>
  </body>
</html>

<style>
  li {
    font-weight: 500;
  }
  li:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
  }
</style>
